name: C CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cppcheck lcov

    - name: Build main
      run: make build

    - name: Static analysis (cppcheck)
      run: |
        cppcheck --enable=all --inconclusive --std=c11 .

    - name: Build & run tests (ASan/UBSan)
      run: |
        gcc -g -O1 -fsanitize=address,undefined -fno-omit-frame-pointer -o test_san tests/test_stack.c stack.c
        ./test_san

    - name: Run coverage
      run: |
        sudo apt-get install -y lcov
        make coverage
        ls -la coverage-report
    - name: Upload coverage artifact
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: coverage-report
